[Llaves básicas]
# Archivos específicos de Unity
Library/
Temp/
Logs/
MemoryCaptures/

# Archivos generados por Builds
Build/
Builds/
*.apk
*.aab

# Configuraciones de usuario
UserSettings/
*.pidb
*.suo
*.user
*.userprefs

# Otros archivos innecesarios
*.csproj
*.unityproj
*.sln
*.log
